<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youngwon's portfolio</title>
    <link rel="shortcut icon" href="/img/youngwon.png" type="image/x-icon">
    <link rel="stylesheet" href="/portfolio/bootstrap/css/bootstrap.min.css">
    <style>
        body {
            width: 100dvw;
            height: 100dvh;
        }

        #profile.active {
            width: 500px;
            max-width: 100%;
        }
    </style>
</head>
<body>
   <div class="d-flex w-100 h-100">
        <section id="profile" class="h-100 active">
            <div id="profileHeader" class="d-flex">
                <span id="profileCollapseBtn" class="self-end">
                    <i class="fa-solid fa-angles-right"></i>
                </span>
            </div>
        </section>
        <section id="projects" class="w-100 h-100 bg-dark p-5">
            <div id="projectsHeader">
                <span class="leading h2">Projects</span>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <span><img width="10%" class="me-3" src="/portfolio/img/CJ_logo_small.jpg">CJ CheilJedang</span>
                    </div>
                    <hr>
                    <table class="table">
                        <tr>
                            <th class="col-3 text-center">Period</th>
                            <td>2022.01.03 ~ Present</td>
                        </tr>
                        <tr>
                            <th class="col-3 text-center">Job</th>
                            <td>IT Developer</td>
                        </tr>
                        <tr>
                            <th rowspan="3" class="col-3 text-center align-middle">Projects</th>
                            <td>Omics Web Platform Development<br>2022.01.03 ~ Present<br>DevOps Engineer/Full Stack Developer</td>
                        </tr>
                        <tr>
                            <td>Facility Scheduler<br>2022.01.03 ~ 2023.10.30<br>Full Stack Developer</td>
                        </tr>
                        <tr>
                            <td>Omics Web Platform Development<br>2021.01.03 ~ Present</td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
   </div>
   <script>
        document.getElementById('profileCollapseBtn').addEventListener('click', (ev) => {
            document.getElementById('profile').classList.toggle('active')
        })
   </script>
</body>
</html>