<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Welcom To Youngwon's Portfolio</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/portfolio/img/youngwon.png" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/portfolio/css/styles.css" rel="stylesheet" />
        <!-- Youngwon's custom css -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link href="/portfolio/css/portfolio.css" rel="stylesheet">

    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">Youngwon</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Youngwon's Portfolio</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <a class="btn btn-primary btn-xl fs-6" href="#about"> Find Out More <i class="ms-3 fs-5 bi bi-chevron-double-down"></i></a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">About</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white mb-5 fs-5 fw-bold">Backend / DevOps / FullStack Developer</p>
                        <table class="table fs-5 text-white">
                            <tbody>
                                <tr class="fw-bold">
                                    <td>Full-time</td>
                                    <td><img>CJ CheilJedang</td>
                                    <td>22.01.03 ~ Present</td>
                                    <td>2Y</td>
                                </tr>
                                <tr>
                                    <td>Part-time</td>
                                    <td><img>SolidIT</td>
                                    <td>20.01.30 ~ 21.01.30</td>
                                    <td>1Y</td>
                                </tr>
                                <tr>
                                    <td>Internship</td>
                                    <td><img>SolidIT</td>
                                    <td>20.12.30 ~ 21.01.30</td>
                                    <td>1M</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex gap-2 mt-5" style="height: 100px; overflow-x: auto;">
                        <img src="/portfolio/img/skills/Java-Light.svg" alt="">
                        <img src="/portfolio/img/skills/Spring-Light.svg" alt="">
                        <img src="/portfolio/img/skills/MySQL-Light.svg" alt="">
                        <img src="/portfolio/img/skills/Docker.svg" alt="">
                        <img src="/portfolio/img/skills/Jenkins-Light.svg" alt="">
                        <img src="/portfolio/img/skills/JavaScript.svg" alt="">
                        <img src="/portfolio/img/skills/AWS-Light.svg" alt="">
                        <img src="/portfolio/img/skills/CPP.svg" alt="">
                        <img src="/portfolio/img/skills/CS.svg" alt="">
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <section class="page-section" id="portfolio">
            <h2 class="text-center mt-0">Projects</h2>
            <hr class="divider" />
            <div class="section-content container container-fluid p-0">
                <div class="row g-0">
                    <div th:each="project: ${projects}" class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" th:title="${project.name}" th:data-project-id="${project.id}" th:data-project-name="${project.name}" th:data-project-category="${project.category}">
                            <img class="img-fluid" th:src="|/portfolio/img/${project.img}|" alt="..." />
                            <div class="portfolio-box-caption">
                                <div class="project-category text-white-50" th:text="${project.category}"></div>
                                <div class="project-name" th:text="${project.name}"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="programsModal" tabindex="-1" role="dialog" aria-labelledby="programModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="programModalTitle"></h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body d-flex justify-content-center gap-2">
                        Modal Body
                    </div>
                </div>
                </div>
            </div>
        </section>
        <!-- Contact-->
        <section class="page-section bg-dark text-white" id="contact">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Let's Get In Touch!</h2>
                        <hr class="divider" />
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5 text-dark">
                    <div class="col-lg-6">
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Name input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                <label for="name">Full name</label>
                                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                            </div>
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Message input-->
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                                <label for="message">Message</label>
                                <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                            </div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <a href="mailto:yw7148@naver.com" target="_blank" class="col-lg-4 text-center mb-5 mb-lg-0 icon-link text-decoration-none text-white">
                        <i class="bi-mailbox fs-2 mb-3 text-muted"></i>
                        <div>yw7148@naver.com</div>
                    </a>
                    <a href="https://github.com/yw7148" target="_blank" class="col-lg-4 text-center mb-5 mb-lg-0 icon-link text-decoration-none text-white">
                      <i class="bi-github fs-2 mb-3 text-muted"></i>
                      <div>@yw7148</div>
                    </a>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2023 - Youngwon Kim</div></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="/portfolio/js/scripts.js"></script>
        <!-- Portfolio JS -->
        <script src="/portfolio/js/portfolio.js"></script>
    </body>
</html>
