<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youngwon's portfolio</title>
    <link rel="shortcut icon" href="/img/youngwon.png" type="image/x-icon">
    <link rel="stylesheet" href="/portfolio/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/portfolio/assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/portfolio/css/portfolio-cv.css">
</head>
<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">Youngwon</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto my-2 my-lg-0">
                    <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#portfolio">Projects</a></li>
                    <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link text-danger" href="/portfolio/cv">CV</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="mainContainer" class="w-100 h-100 mx-auto">
        <section id="profile" class="p-xl-5 p-2">
            <div id="profileContent" class="card card-body">
                <div class="w-100">
                    <div class="profile-img">
                        <img width="100%" src="/portfolio/img/youngwon.png" alt="">
                    </div>
                    <div>
                        <table class="table b-3">
                            <tr>
                                <th>Name</th>
                                <td>김영원 (Young Won Kim)</td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td>Male</td>
                            </tr>
                            <tr>
                                <th>Date of Birth</th>
                                <td>June 05 1998 (25)</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>yw7148@naver.com</td>
                            </tr>
                        </table>
                        <div class="profile-links d-flex justify-content-around py-3">
                            <a class="mt-3 fa-brands fa-github text-decoration-none text-dark" target="_blank" href="https://github.com/yw7148"></a>
                            <a class="mt-3 fa-brands fa-docker text-decoration-none text-dark" target="_blank" href="https://hub.docker.com/u/yw7148"> </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="projects" class="w-100 h-100 p-xl-5 p-2 d-flex flex-column gap-2">
            <div class="project">
                <div class="project-header card card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <img class="company-logo" src="/portfolio/img/CJ_logo_small.jpg">
                        </div>
                        <div class="text-end">
                            <div class="fw-bold company-name"><a class="me-2 fa-brands fa-youtube text-decoration-none text-danger" href="https://youtu.be/U1DZWYMG648"></a> CJ CheilJedang (CJ제일제당)</div>
                            <div class="text-gray company-detail">IT Developer | 2022.01 ~ Present</div>
                        </div>
                    </div>
                </div>
                <div class="project-body d-flex flex-column gap-2 mt-2">
                    <div id="cjCmptBio" class="card">
                        <div class="card-header card-collapse p-3">
                            <div class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#cjCmptBio .collapse" aria-expanded="false" aria-controls="#cjCmptBio .collapse">
                                <span class="fw-bold">Computational Biology Web Platform</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse show">
                            <div class="card-body project-detail">
                                <table class="table">
                                    <tr>
                                        <th class="col-3 text-center">Period</th>
                                        <td>2022.01 ~ Present</td>
                                    </tr>
                                    <tr>
                                        <th class="col-3 text-center">Position</th>
                                        <td>Full-Stack Developer / DevOps Engineer</td>
                                    </tr>
                                </table>
                                <p>
                                    Computational Biology Web Platform 구축 Project<br>
                                     - 데이터 관리/AI 분석 실행/결과 Visualization<br><br>

                                    <b>Full Stack 개발자 및 DevOps 엔지니어</b>로 참여<br>
                                    <b> - 메인 템플릿/로그인/로깅/권한 시스템</b> 등 Platform core 기능 개발<br>
                                    <b> - Nginx/SMTP 서버 </b> 등 DevOps 및 운영 서버 환경 구축
                                </p>
                                <div class="skills d-flex gap-2 mt-xl-5 mt-3">
                                    <img src="/portfolio/img/skills/Java-Light.svg" alt="">
                                    <img src="/portfolio/img/skills/Spring-Light.svg" alt="">
                                    <img src="/portfolio/img/skills/MySQL-Light.svg" alt="">
                                    <img src="/portfolio/img/skills/Python-Light.svg" alt="">
                                    <img src="/portfolio/img/skills/FastAPI.svg" alt="">
                                    <img src="/portfolio/img/skills/Docker.svg" alt="">
                                    <img src="/portfolio/img/skills/Jenkins-Light.svg" alt="">
                                    <img src="/portfolio/img/skills/Nginx.svg" alt="">
                                    <img src="/portfolio/img/skills/JavaScript.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="cjLab" class="card">
                        <div class="card-header card-collapse p-3">
                            <div class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#cjLab .collapse" aria-expanded="false" aria-controls="#cjLab .collapse">
                                <span class="fw-bold">CJ Blossom Park 내부 Web Service</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse show">
                            <div class="card-body project-detail">
                                <table class="table">
                                    <tr>
                                        <th class="col-3 text-center">Period</th>
                                        <td>2022.01 ~ Present</td>
                                    </tr>
                                    <tr>
                                        <th class="col-3 text-center">Position</th>
                                        <td>Full-Stack Developer / DevOps Engineer</td>
                                    </tr>
                                </table>
                                <p>
                                    CJ 연구소 Web Platform 운영 및 유지보수<br><br>
                                    
                                    <b>Full Stack 개발자</b>로 참여<br>
                                    <b> - Study Tool/설비 스케쥴 관리 Tool</b> 등 연구 지원 Tool 개발 
                                </p>
                                <div class="skills d-flex gap-2 mt-xl-5 mt-3">
                                    <img src="/portfolio/img/skills/Java-Light.svg" alt="">
                                    <img src="/portfolio/img/skills/Spring-Light.svg" alt="">
                                    <img src="/portfolio/img/skills/Oracle-Light.svg" alt="">
                                    <img src="/portfolio/img/skills/JQuery.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="project">
                <div class="project-header card card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="fw-bolder fs-2">
                            SolidIT
                        </div>
                        <div class="text-end">
                            <div class="fw-bold company-name">SolidIT (솔리드 아이티) | Part-time</div>
                            <div class="text-gray company-detail">Backend/DevOps/Graphics | 2021.01 ~ 2021.12</div>
                        </div>
                    </div>
                </div>
                <div class="project-body d-flex flex-column gap-2 mt-2">
                    <div id="solidItWeb" class="card">
                        <div class="card-header card-collapse p-3">
                            <div class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#solidItWeb .collapse" aria-expanded="false" aria-controls="#solidItWeb .collapse">
                                <span class="fw-bold">웹인증 관리 사이트</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse show">
                            <div class="card-body project-detail">
                                <table class="table">
                                    <tr>
                                        <th class="col-3 text-center">Period</th>
                                        <td>2021.03 ~ 2021.07</td>
                                    </tr>
                                    <tr>
                                        <th class="col-3 text-center">Position</th>
                                        <td>Backend Developer / DevOps Engineer</td>
                                    </tr>
                                </table>
                                <p >
                                    SolitIT에서 개발한 Solid Works Tool의 License를 관리하는 웹 서비스 (Reseller 용 / Admin 용)<br><br>

                                    <b>Backend 개발자 및 DevOps 엔지니어</b>로 참여<br>
                                    <b> - DB 구축 및 License 관리 로직</b> 구현<br>
                                    <b> - DevOps 환경 (Jenkins/Prometheus/Grafana/Sentry 등)</b> 구축<br><br>
                                    
                                    <b>기술스택:</b> Java, Srpingboot, jpa, MariaDB, AWS, Jenkins, Prometheus, grafana
                                </p>
                                <div class="mt-xl-5 mt-3">
                                    <img src="img/solidIT-web.png" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="solidItCad" class="card">
                        <div class="card-header card-collapse p-3">
                            <div class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#solidItCad .collapse" aria-expanded="false" aria-controls="#solidItCad .collapse">
                                <span class="fw-bold">3D Graphics Renderer</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse show">
                            <div class="card-body project-detail">
                                <table class="table">
                                    <tr>
                                        <th class="col-3 text-center">Period</th>
                                        <td>2021.07 ~ 2021.11</td>
                                    </tr>
                                    <tr>
                                        <th class="col-3 text-center">Position</th>
                                        <td>3D Graphics Developer</td>
                                    </tr>
                                </table>
                                <p>
                                    SolitIT에서 개발한 Solid Works Tool의 License를 관리하는 웹 서비스 (Reseller 용 / Admin 용)<br><br>

                                    <b>3D Graphics 개발자</b>로 참여<br>
                                    <b> - Elements Rendering (불투명/반투명 3D Elements, 글자 등) API </b> 개발<br>
                                    <b> - 키보드 마우스 인터랙션 (Translate, Rotate, Zoom, Copy/Paste, Generate/Delete 및 Animation 등)</b> 구축<br><br>
                                    
                                    <b>기술스택:</b> C#, OpenGL, C++
                                    
                                </p>
                                <div class="mt-xl-5 mt-3">
                                    <img src="img/solidIT-3d.png" width="100%">
                                </div>
                                <div class="text-danger">※ 회사 보안상의 이유로 구동 장면 및 코드는 포함하지 않습니다</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="project">
                <div class="project-header card card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <img class="company-logo" src="/portfolio/img/ajou_logo.png">
                        </div>
                        <div class="text-end">
                            <div class="fw-bold company-name">Ajou University (아주대)</div>
                            <div class="text-gray company-detail">Univ. Student | 2016.03 ~ 2022.02 </div>
                        </div>
                    </div>
                </div>
                <div class="project-body d-flex flex-column gap-2 mt-2">
                    <div id="ajouDanjinae" class="card">
                        <div class="card-header card-collapse p-3">
                            <div class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#ajouDanjinae .collapse" aria-expanded="false" aria-controls="#ajouDanjinae .collapse">
                                <span class="fw-bold">캡스톤 디자인 - 단지네</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse show">
                            <div class="card-body project-detail">
                                <table class="table">
                                    <tr>
                                        <th class="col-3 text-center">Period</th>
                                        <td>2021.09 ~ 2021.12</td>
                                    </tr>
                                    <tr>
                                        <th class="col-3 text-center">Position</th>
                                        <td>Backend Developer / DevOps Engineer</td>
                                    </tr>
                                </table>
                                <p >
                                    캡스톤 디자인 - 아파트 통합 관리 플랫폼: 단지네 <br><br>

                                    <b>Backend 개발자 및 DevOps 엔지니어</b>로 참여<br>
                                    <b> - 회원가입/로그인 및 서비스 API 개발</b> 등 전체적인 Backend 로직구현<br>
                                    <b> - DB 구축, Jenkins, Slack 연동, I'mport</b> 등 DevOps 환경 및 Tool 연동 구현<br><br>

                                    <b>기술스택</b>: Java, Srping boot, jpa, mysql, Naver cloud platform, Jenkins <br><br>

                                    <b>Git Url: <a href="https://github.com/Danjinae">https://github.com/Danjinae</a></b>
                                </p>
                                <div class="mt-xl-5 mt-3 d-flex">
                                    <img src="img/danjinae-cv-1.png" width="50%">
                                    <img src="img/danjinae-cv-2.png" width="50%">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ajouMumuk" class="card">
                        <div class="card-header card-collapse p-3">
                            <div class="d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#ajouMumuk .collapse" aria-expanded="false" aria-controls="#ajouMumuk .collapse">
                                <span class="fw-bold">집중교육 - 머먹</span>
                                <i class="fa-solid fa-chevron-down"></i>
                            </div>
                        </div>
                        <div class="collapse show">
                            <div class="card-body project-detail">
                                <table class="table">
                                    <tr>
                                        <th class="col-3 text-center">Period</th>
                                        <td>2020.10 ~ 20.12</td>
                                    </tr>
                                    <tr>
                                        <th class="col-3 text-center">Position</th>
                                        <td>Frontend Developer / Data Mining</td>
                                    </tr>
                                </table>
                                <p>
                                    딥러닝 기반 음식 추천 웹 서비스<br><br>

                                    <b>Frontend 개발자 및 데이터 마이닝 엔지니어</b>로 참여<br>
                                    <b> - Python Selenium 및 Pandas를 이용</b>하여 데이터 크롤링<br>
                                    <b> - HTML, CSS, JS를 이용</b>하여 Frontend 개발 참여<br><br>

                                    <b>기술스택</b>: Python, pandas, Selenium, Html, CSS, JavaScript
                                </p>
                                <div class="mt-xl-5 mt-3">
                                    <img src="img/mumuk.png" width="100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </section>
   </div>
   <script src="/portfolio/assets/bootstrap/js/bootstrap.bundle.min.js"></script>
   </script>
</body>
</html>