@font-face {
    font-family: 'NanumGothic';
    src: url('/portfolio/fonts/NanumGothic.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumGothic';
    src: url('/portfolio/fonts/NanumGothicBold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('/portfolio/fonts/NanumGothicExtraBold.ttf') format('truetype');
    font-weight: bolder;
}

@font-face {
    font-family: 'NanumGothic';
    src: url('/portfolio/fonts/NanumGothicLight.ttf') format('truetype');
    font-weight: lighter;
}

:root {
    --profile-width: 500px;
}

body {
    width: 100dvw;
    height: 100dvh;
    font-family: NanumGothic;
    background-color: #e5e6ec;
}

#mainNav {
    position: fixed;
    box-shadow: 0 2px 20px;
    background: white;
    font-weight: bolder;
}

#mainContainer {
    padding-top: 72px;
    max-width: 1800px;
    display: flex;
}

#profile {
    width: 40%;
    min-width: 400px;
    max-width: var(--profile-width);
    z-index: 100;
    height: 100%;
    padding: 2rem;
}

#profile #profileContent {
    
    height: 100%;
    background-color: white;
    transition: margin-left .3s ease-in-out;
}
#profile .profile-img {
    padding: 2rem;
}
#profile .profile-links {
    font-size: 40px;
}

.text-gray{
    color: rgb(151, 151, 151);
}

#projects {
    overflow-y: auto;
}

#projects .project-header .company-logo {
    height: 3rem;
}

#projects .project-header .company-detail {
    font-size: small;
}

.card-header.card-collapse {
    cursor: pointer;
}
.card-header.card-collapse .fa-solid.fa-chevron-down {
    transition: .3s transform ease-in-out;
}

.card-header.card-collapse .collapsed .fa-solid.fa-chevron-down {
    transform: rotate(90deg);
}

.project-body .skills {
    overflow-x: auto;
    height: 70px;
}

.project-body .skills::before {
    display: flex;
    font-weight: 1000;
    position: absolute;
    height: 100px;
    width: 100px;
    background: linear-gradient(90deg, transparent, #fff);
    color: #888;
    justify-content: center;
    align-items: center;
    right: 0;
    font-size: xx-large;
}

@media screen and (max-width: 1000px) {       
    #mainContainer {
        display: block;
    }

    #profile {
        width:100%;
        max-width: 100%;
        height: fit-content;
    }

    #profile #profileContent{
        width: 100%;
    }

    #profile .profile-img {
        max-width: 500px;
        margin: 1.5rem auto;
    }

    #projects {
        overflow-y: visible;
    }
    .project-body .project-detail {
        font-size: small;
    }

    .project-body .skills {
        overflow-x: auto;
        height: 50px;
    }
}